<section class="page__change-password change-password">
  <div class="change-password__container">
    <div class="title-page title">ЗМІНА ПАРОЛЮ</div>
    <div class="change-password__form">
       <form [formGroup]="changePasswordForm">
          <div class="example-container">
            <mat-form-field>
              <mat-label>Enter old your password</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" formControlName="currentPassword" name="currentPassword">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
            <mat-form-field>
                  <mat-label>Enter new your password</mat-label>
                  <input matInput [type]="hide1 ? 'password' : 'text'"
                         formControlName="newPassword"
                         name="newPassword"
                         (input) = "checkConfirmedPassword()">
                  <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
             </mat-form-field>
             <mat-form-field>
                    <mat-label>Confirm new your password</mat-label>
                    <input matInput [type]="hide2 ? 'password' : 'text'"
                           formControlName="confirmedPassword"
                           name="confirmedPassword"
                           (input) = "checkConfirmedPassword()">
                    <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
            </mat-form-field>
            <mat-error *ngIf="checkVisibilityError('confirmedPassword', 'matchError')">
             <p class="mb-3">"Confirmed password required"</p>
            </mat-error>
        </div>
        <div class="example-button-row">
          <button mat-raised-button color="primary" class="me-3" (click)="resetForm()" >Відмінити</button>
          <button mat-raised-button color="accent" (click)="changePasswordUser()">Зберегти</button>
        </div>
      </form>
    </div>
  </div>

 </section>
