<section class="page__basket basket">
    <div class="basket__container">
      <div class="basket__card" *ngIf= "userBaskets.length === 0">
        <div class="card text-center">
          <div class="card-header"></div>
          <div class="card-body">
            <h1 class="fs-3">
              Кошик порожній :)
            </h1>
          </div>
          <div class="card-footer text-muted"></div>
        </div>
      </div>
        
      <div class="basket__card" *ngIf= "userBaskets.length > 0">
            <div class="basket__content" *ngFor="let basket of userBaskets">
                <div class="basket__img">
                   <img
                      [src]="basket.imagePath"
                      [alt]="basket.name" />
                </div>
                <div class="basket__detalis">
                     <h2 class="basket__title title">{{ basket.name }}</h2>
                    <div class="product_detail-controls">
                        <div class="btn-group">
                           <button (click)="productCount(basket, false)"
                           type="button"class="btn-count">-</button>
                           <input type="text"class="form-control"[value]="basket.count" style="width: 45px"/>
                            <button (click)="productCount(basket, true)"
                           type="button" class="btn-count">+</button>
                        </div>
                     </div>
                </div>
                <div class="basket__price">
                    <div class="icon"  (click)="deleteBasketProduct(basket)">
                      <button type="button" class="btn-close" 
                      aria-label="Close"></button>
                    </div>
                    <h4 >{{ basket.price * basket.count }}<span> грн</span></h4>
                </div>
             </div>
        </div>

      <div class="basket__bottom">
        <h4 >Сума: <span class="title"> {{total}}</span> грн</h4>
        <button class="btn btn__primary" data-bs-dismiss="offcanvas"><a [routerLink]="['/checkout']"
          routerLinkActive="rout-active">оформити замовлення</a>
        </button>

      </div>
    </div>
  </section>