@import "../../../shared/style/variables";

.simple-banner {
  padding: 20px 15px;
  margin-bottom: 20px;

  .breadcrumbs {
    display: flex;
    left: 40px;
    margin: 0;
    list-style: none;
}

  .breadcrumbs a {
    color: $color-title;
  }

  .breadcrumbs li:not(:last-child):after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 3px solid $primary;
    margin: 0 5px 0 10px;
  }
}


.product-info__content{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.625rem;
}

.product-info__img {
  text-align: center;
  position: relative;
}

.product-info__img img{
  max-width: 100%;
}
.product-info__size {
  display: inline-block;
  font-size: 20px;
  line-height: 1;
  padding: 5px;
  margin-bottom: 10px;
  margin-top: 5px;
}


.product-info__title{
// font-size: 38px;
}

.product-info__title:not(:last-child){
  margin-bottom: 20px;
}


.product-info__description {
  line-height: 1.6em;
}

.product-info__description p {
  margin-bottom: 10px;
}

.product_detail-controls {
  padding: 30px 0;
  border-top: 1px solid #f5f5f5;
  display: flex;
  align-items: center;
}

.form-control {
  height: 32px;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  margin: 0 10px;
  border: none;
}

.product-info__price {
  align-self: flex-start;
  margin-left: 30px;
}

.product-info__btns {
  display: flex;
  justify-content: space-between;
}



.btn-small-1 {
  color: #fff;
  background: $primary;
}

.btn-small-1:hover {
  color: $primary;
  background: none;
}



.fav-btn {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 23px;
  height: 20px;
  line-height: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.25s;
  background: none;
  border: none;
  background-image: url(../../../assets/image/love-empty-icon.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.fav-btn.active {
  background-image: url(../../../assets/image/love-icon.svg);
}


@media (max-width: 62.0613rem) {
  .product-info__container{
    max-width: 862px;
  }

  .product-info__content{
    padding-top: 20px;
    grid-template-columns: auto;
    justify-content: center;

  }

  .product-info__size {
    font-size: 16px;
  }

  .product-info__title{
    text-align: left;
  }
}

@media (max-width: 30.0613rem) {
  .simple-banner{
    display: none;
  }

  .product-info__img img{
    max-width: 80%;
  }

  .product-info__btns {
  display: flex;
  flex-direction: column;
   }
}