<section class="page__contact contact">
  <div class="contact__container">
    <div class="simple-banner">
      <ul class="breadcrumbs">
        <li>
          <a [routerLink]="['']" routerLinkActive="active">
            <span>Головна</span></a
          >
          >
        </li>
        <li class="active">
          <span>Контакти</span>
        </li>
      </ul>
    </div>
    <div class="title-page">Наші <span>контакти</span></div>
    <div class="contact__info">
      <div class="contact__items">
        <article class="conatct__item item">
          <div class="item__title title">
            <p>ТРЦ Victoria Gardens</p>
          </div>
          <div class="conatct-grey">
            <div class="contact-line">
              <div class="contatc-icon">
                <img src="../../../assets/image/contact_icon_one.svg" alt="" />
              </div>
              <p class="text style-2">
                <b>м. Львів </b> <br />
                Кульпарківська 226 А
              </p>
            </div>
            <div class="contact-line">
              <div class="contatc-icon">
                <img src="../../../assets/image/contact_icon_two.svg" alt="" />
              </div>
              <p class="text style-2"><b>victoriagardens@noa.lviv.ua</b></p>
            </div>
            <div class="contact-line">
              <div class="contatc-icon">
                <img src="../../../assets/image/contact_icon_tree.svg" alt="" />
              </div>
              <p class="text style-2">
                <b><a href="tel:0987320841">098 732 08 41</a></b>
              </p>
            </div>
            <div class="contact-line">
              <div class="contatc-icon">
                <img
                  src="../../../assets/image/contact_icon_foure.svg"
                  alt=""
                />
              </div>
              <p class="text style-2"><b>Пн - Нд з 10:00 до 22:00</b></p>
            </div>
          </div>
        </article>
        <article class="conatct__item item">
          <div class="item__title title">
            <p>NOA Староєврейська</p>
          </div>
          <div class="conatct-grey">
            <div class="contact-line">
              <div class="contatc-icon">
                <img src="../../../assets/image/contact_icon_one.svg" alt="" />
              </div>
              <p class="text style-2">
                <b>м. Львів </b><br />
                Староєврейська 4
              </p>
            </div>
            <div class="contact-line">
              <div class="contatc-icon">
                <img src="../../../assets/image/contact_icon_two.svg" alt="" />
              </div>
              <p class="text style-2"><b>staroevreyska@noa.lviv.ua</b></p>
            </div>
            <div class="contact-line">
              <div class="contatc-icon">
                <div class="contatc-icon">
                  <img
                    src="../../../assets/image/contact_icon_tree.svg"
                    alt=""
                  />
                </div>
              </div>
              <p class="text style-2">
                <b><a href="tel:0678844617">067 884 46 17</a></b>
              </p>
            </div>
            <div class="contact-line">
              <div class="contatc-icon">
                <img
                  src="../../../assets/image/contact_icon_foure.svg"
                  alt=""
                />
              </div>
              <p class="text style-2"><b>Пн - Нд з 10:00 до 23:00</b></p>
            </div>
          </div>
        </article>
        <article class="conatct__item item">
          <div class="item__title title">
            <p>NOA Крива Липа</p>
          </div>
          <div class="conatct-grey">
            <div class="contact-line">
              <div class="contatc-icon">
                <img src="../../../assets/image/contact_icon_one.svg" alt="" />
              </div>
              <p class="text style-2">
                <b>м. Львів </b> <br />
                Крива Липа 8
              </p>
            </div>
            <div class="contact-line">
              <div class="contatc-icon">
                <img src="../../../assets/image/contact_icon_two.svg" alt="" />
              </div>
              <p class="text style-2"><b>kl@noa.lviv.ua</b></p>
            </div>
            <div class="contact-line">
              <div class="contatc-icon">
                <div class="contatc-icon">
                  <img
                    src="../../../assets/image/contact_icon_tree.svg"
                    alt=""
                  />
                </div>
              </div>
              <p class="text style-2">
                <b><a href="tel:0678844696">067 884 46 96</a></b>
              </p>
            </div>
            <div class="contact-line">
              <div class="contatc-icon">
                <img
                  src="../../../assets/image/contact_icon_foure.svg"
                  alt=""
                />
              </div>
              <p class="text style-2"><b>Пн - Нд з 11:00 до 22:00</b></p>
            </div>
          </div>
        </article>
        <article class="conatct__item item">
          <div class="item__title title">
            <p>СТРЦ Spartak</p>
          </div>
          <div class="conatct-grey">
            <div class="contact-line">
              <div class="contatc-icon">
                <img src="../../../assets/image/contact_icon_one.svg" alt="" />
              </div>
              <p class="text style-2">
                <b>м. Львів </b> <br />
                Мазепи 1Б
              </p>
            </div>
            <div class="contact-line">
              <div class="contatc-icon">
                <img src="../../../assets/image/contact_icon_two.svg" alt="" />
              </div>
              <p class="text style-2"><b>spartak@noa.lviv.ua</b></p>
            </div>
            <div class="contact-line">
              <div class="contatc-icon">
                <div class="contatc-icon">
                  <img
                    src="../../../assets/image/contact_icon_tree.svg"
                    alt=""
                  />
                </div>
              </div>
              <p class="text style-2">
                <b><a href="tel:0678844631">067 884 46 31</a></b>
              </p>
            </div>
            <div class="contact-line">
              <div class="contatc-icon">
                <img
                  src="../../../assets/image/contact_icon_foure.svg"
                  alt=""
                />
              </div>
              <p class="text style-2"><b>Пн - Нд з 10:00 до 22:00</b></p>
            </div>
          </div>
        </article>
        <article class="conatct__item item">
          <div class="item__title title">
            <p>ТРЦ King Cross Leopolis</p>
          </div>
          <div class="conatct-grey">
            <div class="contact-line">
              <div class="contatc-icon">
                <img src="../../../assets/image/contact_icon_one.svg" alt="" />
              </div>
              <p class="text style-2">
                <b>с. Сокільники</b> <br />
                Стрийська 30
              </p>
            </div>
            <div class="contact-line">
              <div class="contatc-icon">
                <img src="../../../assets/image/contact_icon_two.svg" alt="" />
              </div>
              <p class="text style-2"><b>kingcross@noa.lviv.ua</b></p>
            </div>
            <div class="contact-line">
              <div class="contatc-icon">
                <div class="contatc-icon">
                  <img
                    src="../../../assets/image/contact_icon_tree.svg"
                    alt=""
                  />
                </div>
              </div>
              <p class="text style-2">
                <b><a href="tel:0678844590">067 884 45 90</a></b>
              </p>
            </div>
            <div class="contact-line">
              <div class="contatc-icon">
                <img
                  src="../../../assets/image/contact_icon_foure.svg"
                  alt=""
                />
              </div>
              <p class="text style-2"><b>Пн - Нд з 10:00 до 21:00</b></p>
            </div>
          </div>
        </article>
        <article class="conatct__item item">
          <div class="item__title title">
            <p>Комерційний відділ</p>
          </div>
          <div class="conatct-grey">
            <div class="contact-line">
              <div class="contatc-icon">
                <img src="../../../assets/image/contact_icon_two.svg" alt="" />
              </div>
              <p class="text style-2"><b>commerce@tomatina.ua</b></p>
            </div>
            <div class="contact-line">
              <div class="contatc-icon">
                <div class="contatc-icon">
                  <img
                    src="../../../assets/image/contact_icon_tree.svg"
                    alt=""
                  />
                </div>
              </div>
              <p class="text style-2">
                <b><a href="tel:0964699083">096 469 90 83</a></b>
              </p>
            </div>
            <div class="contact-line">
              <div class="contatc-icon">
                <img
                  src="../../../assets/image/contact_icon_foure.svg"
                  alt=""
                />
              </div>
              <p class="text style-2"><b>Пн - Пт з 09:00 до 18:00</b></p>
            </div>
          </div>
        </article>
      </div>

      <div class="contact__feedback feedback">
        <div class="feedback__form form">
          <div class="form__title title">
            <p>У тебе виникли запитання? Напиши нам!</p>
          </div>
          <form class="example-form">
            <table class="example-full-width" cellspacing="0">
              <tr>
                <td>
                  <mat-form-field class="example-full-width">
                    <mat-label>Ім'я</mat-label>
                    <input matInput />
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field class="example-full-width">
                    <mat-label>Прізвище</mat-label>
                    <input matInput />
                  </mat-form-field>
                </td>
              </tr>
            </table>

            <table class="example-full-width" cellspacing="0">
              <tr>
                <td>
                  <mat-form-field class="example-full-width">
                    <mat-label>Email</mat-label>
                    <input
                      type="email"
                      matInput
                      placeholder="Ex. pat@example.com"
                    />
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field class="example-full-width">
                    <mat-label>Номер телефону</mat-label>
                    <input type="tel" matInput />
                  </mat-form-field>
                </td>
              </tr>
            </table>

            <p>
              <mat-form-field class="example-full-width">
                <mat-label>Повідомлення</mat-label>
                <input matInput #message maxlength="256" />
                <mat-hint align="start"
                  ><strong>Не розголошуйте особисту інформацію</strong>
                </mat-hint>
                <mat-hint align="end"
                  >{{ message.value.length }} / 256</mat-hint
                >
              </mat-form-field>
            </p>

            <button class="btn btn__primary btn-contact">
              <span class="wpcf7-spinner">надіслати</span>
            </button>
          </form>
        </div>

        <div class="contact__maps">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d164704.9138212547!2d23.847425490775333!3d49.83279368477376!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473add7c09109a57%3A0x4223c517012378e2!2z0JvRjNCy0ZbQsiwg0JvRjNCy0ZbQstGB0YzQutCwINC-0LHQu9Cw0YHRgtGMLCA3OTAwMA!5e0!3m2!1suk!2sua!4v1695671991275!5m2!1suk!2sua"
            width="100%"
            height="400px"
            style="border: 0; overflow: hidden"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</section>

