<section class="page__about about">
  <div class="about__container">
    <h2 class="about__title title-page">Про <span>нас</span></h2>
    <div class="about__content">
      <div class="about__img">
        <img
          src="../../../assets/image/screenshot_23-425x404.png"
          alt="Image"
        />
      </div>
      <div class="about__info">
        <div class="about__title title">
          NOA - місце, де багато живого вогню і смачних страв з особливим
          східним характером
        </div>
        <div class="about__text text">
          <p>
            Бренд паназійських ресторанів ”NOA” заснований у 2018 р. На
            сьогоднішній день у Львові працює 5 ресторанів мережі.
          </p>
          <p>
            В основі меню – авторська версія паназіатської кухні. Ми любимо
            експериментувати. Застосовуємо азійські традиції в стравах інших
            країн. І навпаки. Шукаємо баланс в смаках з усіх кінців світу. І як
            тільки рівновагу знайдено, страва з’являється в нашому меню.
          </p>
          <p>
            І абсолютно неважливо чи замовляєте ви страви, відвідуючи наш
            ресторан, оформляєте take away або замовлення на доставку. Ми
            гарантуємо, що кожна страва на нашій кухні готуватиметься з турботою
            і любов’ю до деталей і ніяк інакше!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
