


.wrapper{
    min-height: 100%;
    overflow: clip;
    display: flex;
    flex-direction: column;
}


.page{
    margin-top: 150px;
    flex: 1 1 auto;
}



@media (max-width: 36rem){
    .page{
        margin-top: 105px;
    }
}




