<div class="container">
<div class="row">
  <div class="col-6 ms-5">
    <button (click)="addForm()" type="button" class="btn btn-add">
      Додати вакансію
    </button>
    <form [formGroup]="vacanciesForm" (ngSubmit)="addVacancie()">
      <div *ngIf="addForms">
          <div class="d-flex w-100">
              <div class="mb-3 me-3">
                  <label for="exampleFormControlInput1" class="form-label">Назва</label>
                  <input
                    formControlName="name"
                    type="text"
                    class="form-control"
                    id="exampleFormControlInput1"
                    placeholder="Введіть назву"
                  />
                </div>
                <div class="mb-3">
                  <label for="exampleFormControlInput" class="form-label">Назва шляху</label
                  >
                  <input
                    formControlName="title"
                    type="text"
                    class="form-control w-100"
                    id="exampleFormControlInput"
                    placeholder="Введіть заголовок"
                  />
                </div>
          </div>
  
        <div class="form-floating">
          <textarea
            formControlName="description"
            class="form-control mb-3"
            id="floatingTextarea2"
            style="height: 200px"
          ></textarea>
          <label for="floatingTextarea2">Опис</label>
        </div>
  
        <ng-container *ngIf="!isUploaded">
          <div class="mb-3">
            <label for="formFile" class="form-label">Загрузити картинку</label>
            <input class="form-control w-150" type="file" id="formFile"  (change)="upload($event)" />
          </div>
        </ng-container>
        <ng-container *ngIf="isUploaded">
          <div class="d-flex flex-column">
            <img [src]="valueByControl('imagePath')" alt="" width="150px" />
            <button
              type="button"
              class="btn btn-danger mb-3 mt-3 w-100"
              (click)="deleteImage()"
            >
              Delete
            </button>
          </div>
        </ng-container>
        <button
          [disabled]="vacanciesForm.invalid"
          type="submit"
          class="btn-admin mb-3 w-100"
        >
          {{ editStatus ? "Save" : "Add" }}
        </button>
      </div>
    </form>
  </div>
  <div class="col-10 ms-4">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Назва</th>
                <th scope="col">Назва шляху</th>
                <th scope="col">Опис</th>
                <th scope="col">Зоображення</th>
                <th scope="col">Дії</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let vacancie of adminVacancies">
                <td>{{ vacancie.id | slice:0:5}}</td>
                <td>{{ vacancie.name }}</td>
                <td>{{ vacancie.title }}</td>
                <td>{{ vacancie.description | slice:0:60 }}</td>
                <td class="centered-cell">
                    <img [src]="vacancie.imagePath" alt="" height="50px">
                </td>
                <td class="centered-cell">

                    <button (click)="editVacancie(vacancie)" type="button" class="btn btn-admin2 me-2">Edit</button>
                    <button [disabled]="editStatus" (click)="deleteVacancie(vacancie)" type="button" class="btn btn-admin2">Delete</button>

                </td>
            </tr>
        </tbody>
    </table>
</div>
</div>
</div>
