<div class="home__img">
  <img
    src="../../../assets/image/thai-site-banner-copy.png-nov-1550x630.png"
    alt=""
  />
</div>

<section class="page__home home">
  <div class="home__container">
    <h2 class="home__title title-page">Особлива <span>Азія</span></h2>
    <div class="home__content">
      <div class="home_menu categories">
        <div class="categories__menu menu">
          <article class="menu__item">
            <a [routerLink]="['/product/snidanky']" class="menu__card">
              <img src="../../../assets/image/rubryky-na-sajtsnidanky-350x350.webp" alt="Сніданки до 18:00">
              <h3 class="menu__title title">Сніданки до 18:00</h3>
            </a>
          </article>
          <article class="menu__item">
            <a [routerLink]="['/product/starters']" class="menu__card">
              <img src="../../../assets/image/startery-350x350.webp" alt="starters">
              <h3 class="menu__title title">СТАРТЕРИ</h3>
            </a>
          </article>
          <article class="menu__item">
            <a [routerLink]="['/product/ramen']" class="menu__card">
              <img src="../../../assets/image/ramen.webp" alt="ramen">
              <h3 class="menu__title title">Рамен</h3>
            </a>
          </article>
          <article class="menu__item">
            <a [routerLink]="['/product/asianwok']" class="menu__card">
              <img src="../../../assets/image/asian-wok-350x350.webp" alt="asianwok">
              <h3 class="menu__title title">asian wok</h3>
            </a>
          </article>
          <article class="menu__item">
            <a [routerLink]="['/product/asian-poke']" class="menu__card">
              <img src="../../../assets/image/asian-poke-350x350.webp" alt="asian-poke">
              <h3 class="menu__title title">asian poke</h3>
            </a>
          </article>
          <article class="menu__item">
            <a [routerLink]="['/product/sushi-burgery']" class="menu__card">
              <img src="../../../assets/image/sushi-burger-350x350.webp" alt="sushi-burgery">
              <h3 class="menu__title title">Суші-Бургери</h3>
            </a>
          </article>
          <article class="menu__item">
            <a [routerLink]="['/product/rolls']" class="menu__card">
              <img src="../../../assets/image/sushi-350x350.webp" alt="image">
              <h3 class="menu__title title">Роли</h3>
            </a>
          </article>
          <article class="menu__item">
            <a [routerLink]="['/product/sushiset']" class="menu__card">
              <img src="../../../assets/image/sety-350x350.webp" alt="image">
              <h3 class="menu__title title">Сети</h3>
            </a>
          </article>
          <article class="menu__item">
            <a [routerLink]="['/product/deserty']" class="menu__card">
              <img src="../../../assets/image/deserty-350x350.webp" alt="image">
              <h3 class="menu__title title">Десерти</h3>
            </a>
          </article>
          <article class="menu__item">
            <a [routerLink]="['/product/napoyi']" class="menu__card">
              <img src="../../../assets/image/napoyi-350x350.webp" alt="image">
              <h3 class="menu__title title">Напої</h3>
            </a>
          </article>
          <article class="menu__item">
            <a [routerLink]="['/product/alkogolni-napoyi-18']" class="menu__card">
              <img src="../../../assets/image/tonic-pink-site-350x350.webp" alt="image">
              <h3 class="menu__title title">Алкогольні напої 18+</h3>
            </a>
          </article>
        </div>
      </div>
      <h2 class="home__title-block title">Страви, які вам сподобаються</h2>
      <div class="home__swaper"></div>
      <h2 class="home__title2 title-page"><span>Ресторан</span> азіатської кухні NOA Львів</h2>
      <div class="home__text text">
        <p>Пікантна, яскрава, різноманітна та ну дуууже смачна — саме так можна охарактеризувати 
          азійську кухню. Асортимент страв вражає навіть найбільш вибагливих гурманів. 
          А унікальні поєднання інгредієнтів — нікого не залишають байдужим. 
          Тож не відкладайте на потім: пориньте у світ смачних страв просто зараз!
        </p>
        <p>Ресторан NOA підготував для вас величезне меню з традиційними ролами, локшиною вок, 
          десертами і ще багато страв різноманітного меню азіатської їжі, також можна 
          замовити напої, які чудово підкреслюють смак страв. 
          А наша найшвидша доставка привезе ваше замовлення у будь-який куточок Львова!</p>
      </div>
      <div class="home__read-more" (click)="toggleAccordion()">читати більше</div>
      <div  class="home__accordion" [ngClass]="{'home-accordion-activ': accordionClick}">
        <h2 class="home-accordion__title">Основні страви азійської кухні — що оберете сьогодні?</h2>
        <div class="home-accordion__text text">
          <p>Шеф-кухарі NOA ретельно збирали найкращі рецепти китайської, японської, 
            тайської кухні. Для того, щоб ви могли смакувати улюбленими 
            азійськими стравами у себе вдома: тоді, коли забажаєте. 
            У нас є все для смачного обіду, ситної вечері або великого застілля з друзями:</p>
            <ul class="home-accordion__list">
              <li>Роли та суші-сети — за традиційними та авторськими рецептами. 
                Обов'язково спробуйте рол Авокадо з вугрем, Токійський дракон, 
                Акайо та Мідора — буде смачно!
              </li>
              <li>Страви WOK — локшина та рис. З куркою, морепродуктами, 
                овочами та смачними соусами, приготованими власноруч.
              </li>
              <li>Рамени — найрізноманітніші та найсмачніші! З яловичиною, 
                гьодзе, курятиною, свининою та морепродуктами. 
                До речі, рамен — це зовсім не суп, а локшина з бульйоном. Спробуйте, і 
                переконайтеся!
              </li>
              <li>Poke-боули — одночасно смачно та корисно. Вирішуйте, 
                який боул хочете скуштувати сьогодні: з тунцем, 
                лососем чи іншими смачними інгредієнтами.  
              </li>
            </ul>
            <p>Бажаєте поснідати з NOA? Жодних проблем! Наше меню сніданків доступне 
              з 10 ранку і до 18 вечора — підійде навіть тим, хто звик прокидатися пообіді. 
              Готуємо сирники, тости, омлети та хашбраун — вибирайте те, що вам до душі. .</p>
              <p>А ще, у нас є стартери, десерти, велике меню напоїв: 
                усе, що потрібно для повноцінного обіду або вечері. 
                Кожна страва створена з любов'ю. Адже ми готуємо страви для вас, 
                як для своїх рідних. Турбуємося про те, щоб ви хотіли повертатися в “НОА” 
                ще і ще, стали одним з наших постійних клієнтів.</p>
                <p>Ми створюємо азійські страви лише зі свіжих, добірних компонентів. 
                  Дбаємо про їх правильне зберігання та ретельно обробку. Саме тому, 
                  кожна страва — дуже смачна. А наші гості — задоволені!
                </p>
                <h2 class="home-accordion__title">Справжня азійська кухня з доставкою у Львові</h2>
                <p>Лінь стояти біля плити? Без паніки: NOA вже поспішає доставити ваші улюблені
                   страви. Пікантний WOK, роли, рамен — обирайте те, що вам до смаку.
                    Наші шеф-кухарі приготують справжню азійську їжу саме для вас. 
                    А кур'єри — миттєво доставлять замовлення прямісінько до дверей. 
                    Тому не відкладайте на потім: куштуйте улюблені страви азійської кухні та
                     новинки від нашої команди.
                </p>
                <p>Замовляєте у нас вперше? Розкажемо, як працює наша доставка:</p>
                <ul class="home-accordion__list">
                  <li>Готуємо страви щодня та без вихідних. 
                    Приймаємо замовлення з 10:00 до 21:00. 
                    Насолоджуйтесь улюбленими стравами хоч щодня!
                  </li>
                  <li>Привозимо їжу в Зеленій зоні за 45 хвилин, у Жовтій — за 55, 
                    у Червоній — за 65. Дбаємо про те, щоб ви могли отримати своє 
                    замовлення якомога швидше.
                  </li>
                  <li>Діє безкоштовна доставка для замовлень на суму 300+ гривень. 
                    Не переплачуйте зайвого!</li>
                  <li>Оплатити замовлення можна зручними способами — на сайті 
                    через систему LiqPay, карткою або готівкою кур'єру. 
                    Просто оберіть варіант, який підходить саме вам.</li>
              </ul>
              <p>Ми готуємо та доставляємо їжу азійської кухні професійно та швидко, 
                тому, що кожну страву готують з любов'ю. Тому замовляйте нашу доставку, 
                або відвідуйте заклади — з друзями, рідними, коханою людиною. 
                Приємна атмосфера, професійне обслуговування та смачна їжа гарантовані. </p>
                <p>Насолоджуйтесь улюбленими стравами з ресторану НОА у Львові!</p>
              <div class="home__read-more red" (click)="toggleAccordion()">згорнути</div>
          </div>
  
      </div>

      
    </div>
  </div>
</section>

