<section class="page__product product">
  <div class="product__container">
    <div class="product__categories categories-menu" [class.active]="isCategoryActive">
      <div class="category-title" (click)="toggleList()">{{categoryName}}</div>
      <ul class="categories-menu__list">
        <li class="categories-menu__item" *ngFor="let category of ['snidanky', 'starters', 'asianwok',
         'asian-poke', 'ramen', 'sushi-burgery', 'rolls', 'sushiset',
         'deserty', 'napoyi', 'alkogolni-napoyi-18', 'shop'  ]" (click)="toggleList()">
          <a [routerLink]="['/product', category]" routerLinkActive="active-item">{{category}}</a>
        </li>
      </ul>
    </div>
    <div class="product__sort">
        <div class="block__checkbox">
          <mat-checkbox checked>
            Всі
          </mat-checkbox>
         <mat-checkbox [(ngModel)]="selectedLabel" (change)="setSelectedLabel($event.checked ? 'culinasia-special' : '')">
            CULINASIA SPECIAL
          </mat-checkbox>
        </div>

      <div class="sort__wrapper">
        <p >Сортувати по</p>
        <mat-chip-listbox aria-label="Fish selection">
          <mat-chip-option (click)="sortSubr('price')">
           <span class="chip-text">За ціною</span>
          </mat-chip-option>
          <mat-chip-option (click)="sortSubr('weight')">
            <span class="chip-text">За вагою</span>
          </mat-chip-option>
        </mat-chip-listbox>
        </div>

    </div>



    <div class="product__items">
      <div class="" *ngFor="let product of userProducts | pipeSort: filed: ascending | sortLebel: selectedLabel">
        <div class="product__card card">
          <div class="block__special">
            <div class="box-mark">
              <p class="special__category" [ngStyle]="{'background-color': product.lebel === 'veggei' ? '#2d7d7d' : '#FF951F'}">{{product.lebel}}</p>
            </div>
            <div class="product_top-right">
              <button class="fav-btn" (click)="toggleToFavorites(product)">
                <mat-icon *ngIf="!product.isFavorite" matSuffix>favorite</mat-icon>
              </button>
            </div>
          </div>
          <div class="card__image">
            <a [routerLink]="['/product/' + product.category.path, product.id]" href="#">
              <img [src]="product.imagePath" alt="product.name"/>
            </a>
          </div>
          <div class="floating__btn">
            <button class="btn btn-grey">Швидке замовлення</button>
          </div>
          <div class="cart__content">
            <div class="card__title">
              <div>
                  <a
                  [routerLink]="['/product/' + product.category.path, product.id]"
                  href="#"
                  >{{ product.name }}</a
                >
              </div>
              <div class="">
                <h4>{{ product.price  * product.count }}</h4>
              </div>
            </div>
            <div class="card__description text">
              <p>
                {{
                  product.description.length > 100
                    ? (product.description | slice : 0 : 100) + "..."
                    : product.description
                }}
              </p>
            </div>
            <div class="card__controls">
              <div class="btn-group">
                <button (click)="productCount(product, false)" type="button" class="btn-count">
                  -
                </button>
                <input
                  type="text"
                  class="form-control"
                  [value]="product.count"/>
                <button
                  (click)="productCount(product, true)"
                  type="button"
                  class="btn-count"
                >
                  +
                </button>
              </div>
              <a class="btn btn__primary" (click)="addToBasket(product)">Замовити</a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div>
      <div class="categories__description" *ngIf="categoryName === 'snidanky'">
        <h2 class="product__title2 title-page"><span>Починайте </span> ранок смачно із сніданками NOA</h2>
        <h3 class="product-accordion__title">Cніданки в NOA</h3>
        <div class="product__text text">
          <p>Який він — рецепт ідеального ранку? Прокинутися без будильника, посміхнутися рідним,
             приготувати ароматну каву. А потім — замовити улюблений сніданок. 
             Тому що сонячні години ранку зовсім не хочеться витрачати на приготування їжі. 
             В меню NOA на вас чекають сніданки, в які ви закохаєтеся з першого шматочка. 
             Тост з лососем та авокадо, омурайсу чи омлет з крабом — вирішувати лише вам. 
             Про те, щоб сніданок був на столі вчасно, подбаємо ми.
          </p>
          <p>Шеф-кухарі NOA знають всі секрети смачного сніданку. 
            Ми обираємо кожен інгредієнт з любов'ю. Готуємо для вас, як для своїх рідних. 
            Адже мріємо, щоб ваш день починався приємно — зі смачної їжі та гарних емоцій. 
            Якщо ви прокидаєтеся пізно — це теж не проблема! 
            Адже всі наші сніданки у Львові готуємо до 18:00.</p>
        </div>
        <div class="product__read-more" (click)="toggleAccordion()">читати більше</div>
        <div  class="product__accordion" [ngClass]="{'product-accordion-activ': accordionClick}">
          <h3 class="product-accordion__title">Чому сніданок — це так важливо?</h3>
          <div class="product-accordion__text text">
            <p>Спільні сніданки — традиція чи не для кожної львівської родини. 
              Спільна трапеза об'єднує: можна спілкуватися, ділитися планами на день та 
              налаштовуватися на продуктивну роботу. А ще, саме сніданок — найважливіше приймання їжі за день. 
              Дієтологи вважають, що він є найкращим способом наповнити організм енергією зранку.
              Правильний сніданок робить нас бадьорими, 
              допомагає прокинутися, покращує мозкову активність.</p>
              <p>Багато людей відмовляються від сніданку, вважаючи, що це допоможе їм скинути зайві кілограми.
                 Але насправді, дієтологи не підтримують таку стратегію схуднення. Адже правильний сніданок працює зовсім навпаки:
                 він запускає нормальний метаболізм, 
                що дозволяє організму більш ефективно боротися зі щоденними викликами.</p>
                <p>Важливо, щоб сніданок був збалансованим, ситним та здоровим. Поснідавши, ми маємо залишатися енергійними аж до самісінького обіду.</p>
                <p>Це не так вже й легко в робочі будні. Тому правильні компоненти сніданку вкрай важливі.</p>
                <p>Які продукти варто їсти на сніданок:</p>
                <ol class="product-accordion__list1">
                  <li>Яйця, адже вони містять високоякісний білок. 
                    Білок відповідає за міцність наших м'язів, допомагає почуватися 
                    більш енергійно та жваво протягом всього дня.
                  </li>
                  <li>Свіжі овочі та зелень — такі продукти містять багато клітковини та вітамінів, 
                    сприяють здоровому травленню та гарному самопочуттю.
                  </li>
                  <li>Джерела корисних жирів — до прикладу, лосось, авокадо. Адже жири потрібні не лише 
                    для гарного зовнішнього вигляду шкіри та нігтів, 
                    а й для нормальної роботи ендокринної системи.</li>
              </ol>
              <p>Дуже важливо, щоб сніданок вам смакував. Тому варто шукати оптимальний баланс смаку та користі. 
                Смачні сніданки у Львові — запорука гарного настрою, а корисні — чудового самопочуття. </p>
              <p>Шеф-кухарі NOA подбали про те, щоб сніданки в нашому меню були ідеальними. 
                  Ми готуємо зі свіжих, якісних продуктів. Зберігаємо інгредієнти 
                  страв відповідно до всіх санітарно-гігієнічних вимог. 
                  Постійно вдосконалюємо рецепти та цінуємо ваш зворотний звязок: прагнемо знати, 
                  які саме сніданки вам смакують. 
                  Тому що хочемо, щоб кожна страва була неповторною. А наші клієнти — найщасливішими.</p>
              <h3 class="product-accordion__title">Доставка сніданків з NOA — настрій на увесь день</h3>
              <p>Ми знаємо, як важливо зайву годину повалятися в ліжку. 
                І як іноді не хочеться починати ранок зі смаження тостів або приготування каші. 
                Тому довірте цю справу NOA. Ми готуємо справжні тайські сніданки у Львові, 
                щоб ви могли насолоджуватися гармонійним початком дня. Ласувати улюбленими стравами, 
                навіть якщо зовсім не маєте часу купувати продукти та стояти біля плити.</p>
                <p>Розкажемо про нашу доставку трошки більше:</p>
              <ul class="product-accordion__list">
                <li>Веземо сніданки у Львові в різні райони міста. Зелена зона — 45 хвилин, жовта — 55, червона — 65. 
                  Перевірити, в якій зоні знаходиться ваша вулиця, можна в розділі “Доставка”.
                </li>
                <li>Доставляємо їжу безкоштовно у жовтій та зеленій зонах, якщо сума вашого замовлення перевищує 300 грн.
                </li>
                <li>Приймаємо різні способи оплати — готівкою та карткою, або через систему LiqPay. 
                  Просто вкажіть, як саме бажаєте розрахуватися за ваше замовлення.
                </li>
                <li>Працюємо для вас з 10:00 до 21:00 щодня, без вихідних. Насолоджуйтесь нашими стравами і в будні, і у свята.
                </li>
              </ul>
              <p>Тож не зволікайте: замовляйте смачний сніданок. Ви незчуєтесь, як запах смачної їжі наповнить вашу оселю та підніме настрій. 
                Ранки з NOA — по-справжньому сонячні, приємні та гармонійні.</p>
              <p>А ще — ви можете завітати на сніданки у Львові в наші ресторани. Найсмачніша їжа та чудова атмосфера гарантовані!</p>
                <div class="product__read-more red" (click)="toggleAccordion()">згорнути</div>
            </div>
    
        </div>
    
      </div>
      <div class="categories__description" *ngIf="categoryName === 'starters'">
        <h2 class="product__title2 title-page"><span>У </span> свято чи будень: доставка стартерів та закусок з NOA</h2>
        <h3 class="product-accordion__title">Cтартери та закуски з Noa для вас</h3>
        <div class="product__text text">
          <p>Смачна їжа — це запорука гарного настрою. Проте іноді бувають дні, коли готувати зовсім не хочеться. 
            Не примушуйте себе: просто оберіть страви з меню NOA. У нас є не лише рамени та вок. 
            А й смачні салати, закуски та стартери. Це чудовий вибір для перекусу вдома або в офісі, вечірки з друзями, сімейних посиденьок. 
            Ми розробили наше меню стартерів для того, 
            щоб кожен наш гість зміг обрати страви до душі та спробувати щось новеньке
          </p>
          <p>Доставка стартерів, салатів та закусок з NOA — це:</p>
          <ol class="product-accordion__list1">
            <li>Смачно — готуємо для вас, як для своїх рідних. Лише добірні інгредієнти та рецепти, вдосконалені нашими шеф-кухарями.
            </li>
            <li>Різноманітно — обирайте страви, які подобаються саме вам. А ми подбаємо про те, щоб вибір завжди був достатнім.
            </li>
            <li>Швидко — привеземо страви в зеленій зоні всього за 45 хвилин. Ви навіть не встигнете сильно зголодніти.</li>
        </ol>
        <p>Тож пропонуємо просто зараз дізнатися про наше меню стартерів трошки більше.</p>
        </div>
        <div class="product__read-more" (click)="toggleAccordion()">читати більше</div>
        <div  class="product__accordion" [ngClass]="{'product-accordion-activ': accordionClick}">
          <h3 class="product-accordion__title">Салати, закуски та стартери (Львів), приготовані з любов'ю</h3>
          <div class="product-accordion__text text">
            <p>Саме це чекає на вас в меню NOA. Наші шеф-кухарі ретельно працюють над створенням кожної страви. 
              Ми обираємо якісні, свіжі та смачні продукти від надійних постачальників. 
              Якщо овочі — то щойно з грядки, морепродукти — натуральні, соуси — приготовані власними руками. 
              Адже найважливіше для нас — тішити вас по-справжньому смачною їжею.</p>
              <p>Рекомендуємо скуштувати:</p>
              <ul class="product-accordion__list">
                <li>Салати — “Біф тофу” зі шпинатом, тофу, міксом зелені, сушеною цибулею; “Спайсі туна” з тунцем; 
                  “Філадельфія” з лососем та суші-ікрою. Кожен салат має гармонійне поєднання компонентів та подається з соусом. 
                  Порції — доволі великі. Це чудовий вибір для перекусу або легкого обіду.
                </li>
                <li>Бао — це популярна страва азіатської кухні, яка готується на пару. 
                  Булочка з дріжджового тіста має всередині смачну начинку: зелень, морепродукти, ікру тощо. 
                  В азійських країнах таку страву полюбляють їсти на сніданок, але ми подаємо її цілий день.
                </li>
                <li>Гьодзе — смажені японські пельмені, але, спочатку, страва з'явилася в Китаї та називалася «Цзяоцзи».
                   Готують гьодзе з дуже різноманітними начинками: зі свининою, качкою, капустою кімчі, креветкою, імбирем, часником. 
                  Завдяки тому, що така страва — дуже ситна, ви можете замовляти її і як стартер, і як основну їжу.
                </li>
             </ul>

              <p>А ще — обов'язково спробуйте рисові чіпси! Адже це — найпопулярніша закуска азіатської кухні.
                 Вони хрусткі, смачні та легкі: те, що треба для перекусу. Окрім перерахованих страв, в нашому меню є багато цікавого.
                  Кожну страву публікуємо на сайті зі складом, переліком всіх компонентів та вказуванням рівня гостроти. 
                  Таким чином, ви без проблем зможете обрати їжу, яка сподобається саме вам. 
                А ми зобов'язуємося привезти її свіжою, ароматною та теплою. </p>
              <h3 class="product-accordion__title">Як працює наша доставка закусок у Львові?</h3>
              <p>Стартери, салати та закуски NOA вам точно сподобаються: ми у цьому впевнені. 
                Тому що ми готуємо їх не лише за найкращими рецептами тайської кухні, 
                а й з турботою, любов'ю та увагою. Кожне замовлення для нас — особливе.</p>
                <p>Розкажемо про нашу доставку трошки більше:</p>
              <ol class="product-accordion__list1">
                <li>Веземо сніданки у Львові в різні райони міста. Зелена зона — 45 хвилин, жовта — 55, червона — 65. 
                  Перевірити, в якій зоні знаходиться ваша вулиця, можна в розділі “Доставка”.
                </li>
                <li>Доставляємо їжу безкоштовно у жовтій та зеленій зонах, якщо сума вашого замовлення перевищує 300 грн.
                </li>
                <li>Приймаємо різні способи оплати — готівкою та карткою, або через систему LiqPay. 
                  Просто вкажіть, як саме бажаєте розрахуватися за ваше замовлення.
                </li>
                <li>Працюємо для вас з 10:00 до 21:00 щодня, без вихідних. Насолоджуйтесь нашими стравами і в будні, і у свята.
                </li>
              </ol>
              <p>Ми працюємо щодня, з 10:00 до 21:00 без вихідних. Доставляємо смачні страви для вас у будні та вихідні, додому та в офіс. 
                А якщо маєте можливість, завітайте у наші ресторани: гарантуємо смачну їжу та приємну атмосферу.</p>
              <p>Бажаєте замовити стартери у Львові вже зараз? Ми готові приготувати їх для вас. Тож скоріш обирайте страви. 
                Наші вправні шеф-кухарі створять їх з турботою та любов'ю. 
                А найшвидші кур'єри — привезуть максимально швидко, оминаючи всі затори у місті. Бажаємо смачного</p>
                <div class="product__read-more red" (click)="toggleAccordion()">згорнути</div>
            </div>
    
        </div>
    
      </div>
      <div class="categories__description" *ngIf="categoryName === 'ramen'">
        <h2 class="product__title2 title-page"><span>Рамен </span> ідеальне поєднання бульйону та локшини</h2>
        <h3 class="product-accordion__title">Смакуйте справжнім азійським раменом</h3>
        <div class="product__text text">
          <p>Одна з найпопулярніших страв азійської кухні — це, звичайно ж, рамен. Бульйон, морепродукти, локшина, овочі та спеції: 
            таке поєднання нікого не залишає байдужим. Але приготувати рамен вдома — не так вже й просто. 
            Потрібно знайти правильний рецепт, придбати усі компоненти та знати безліч секретів. Тому у ситуації, 
            коли стояти біля плити не хочеться, а скуштувати пікантну страву ви усе ж мрієте, виручить доставка рамену у Львов. 
            Шеф-кухарі NOA приготують його для вас з любов'ю!
          </p>
        <div class="product__read-more" (click)="toggleAccordion()">читати більше</div>
        <div  class="product__accordion" [ngClass]="{'product-accordion-activ': accordionClick}">
          <h3 class="product-accordion__title">Не просто суп. Що таке рамен?</h3>
          <p>Попри поширену думку, рамен — це не суп у традиційному розумінні. 
            Сама назва “рамен” походить від двох китайських ієрогліфів, які в японській мові читаються як “ра” та “мен”. 
            “Ра” означає “витягувати”, а “мен” — локшина. Тому рамен — це звичайна довга локшина. Але сервірують її в Азії з бульйоном, 
            маринованими яйцями та овочами. 
            Так і отримуємо смачну страву під назвою рамен.</p>
            <p>Батьківщина рамену — Китай. Але згодом страва стала популярною в Японії. 
              Пізніше, у 20 та 21 столітті, рамен почали готувати чи не в кожній країні світу. Все тому, що він одночасно смачний, 
              ситний та різноманітний: має велику варіацію рецептів. Зараз рамени подають в багатьох кафе, 
              ресторанах та навіть закладах громадського харчування. 
              Чи кожна з цих страв однаково смачна? Звісно ж, ні. Тут все залежить від майстерності шеф-кухаря.</p>
              <h3 class="product-accordion__title">Секрети приготування ідеального рамену</h3>
              <p>Шеф-кухарі NOA знають, як готувати смачний рамен. Ми використовуємо свіжі, якісні компоненти. 
                Якщо бульйон — то зварений власноруч, якщо овочі — то щойно з грядки, 
                якщо морепродукти — то тільки якісні, перевіреного походження.</p>
              
          <div class="product-accordion__text text">
            <p>А ще — ми знаємо, що:</p>
              <ul class="product-accordion__list">
                <li>Бульйон — це найголовніша складова рамену. Тому його приготуванню приділяємо максимум часу. 
                  Ідеальний бульйон — ідеальний рамен, і це аксіома.
                </li>
                <li>Локшина для рамену найкраще підходить з м`якого борошна дрібного помолу. Вона смакує з бульйоном найкраще.
                </li>
                <li>Рівень гостроти страви варто обирати, залежно від індивідуальних побажань гостя. 
                  Тому пропонуємо як злегка пікантні, так і дуже гострі рамени.
                </li>
             </ul>
              <p>Для того, щоб ви легко могли замовити рамен у Львові, кожна позиція нашого меню має фото та детальний опис інгредієнтів. 
                А ще — позначення гостроти, від найвищого до найнижчого. Помилитися неможливо! </p>
              <h3 class="product-accordion__title">Найсмачніша доставка рамену у Львові — це NOA</h3>
              <p>Ми готуємо рамени за традиційними рецептами азійської кухні. Кожне замовлення для нас — особливе, а кожен клієнт — улюблений. 
                Тому якщо ви давно мріяли скуштувати рамен — настав саме час. Достатньо лише обрати страви на сайті та додати їх до кошика. 
                Щойно ми отримаємо ваше замовлення, розпочнемо готувати його для вас. 
                А наші найшвидші кур'єри вже готові везти рамен за будь-якою необхідною адресою: до вас додому або в офіс.</p>
                <p>Як працює наша доставка рамену:</p>
              <ol class="product-accordion__list1">
                <li>Веземо сніданки у Львові в різні райони міста. Зелена зона — 45 хвилин, жовта — 55, червона — 65. 
                  Перевірити, в якій зоні знаходиться ваша вулиця, можна в розділі “Доставка”.
                </li>
                <li>Доставляємо їжу безкоштовно у жовтій та зеленій зонах, якщо сума вашого замовлення перевищує 300 грн.
                </li>
                <li>Приймаємо різні способи оплати — готівкою та карткою, або через систему LiqPay. 
                  Просто вкажіть, як саме бажаєте розрахуватися за ваше замовлення.
                </li>
                <li>Працюємо для вас з 10:00 до 21:00 щодня, без вихідних. Насолоджуйтесь нашими стравами і в будні, і у свята.
                </li>
              </ol>
              <p>Ми працюємо щодня, з 10:00 до 21:00 без вихідних. Доставляємо смачні страви для вас у будні та вихідні, додому та в офіс. 
                А якщо маєте можливість, завітайте у наші ресторани: гарантуємо смачну їжу та приємну атмосферу.</p>
                <div class="product__read-more red" (click)="toggleAccordion()">згорнути</div>
            </div>
    
        </div>
    
      </div>
      </div>
      <div class="categories__description" *ngIf="categoryName === 'asianwok'">
      <h2 class="product__title2 title-page"><span>Смачно, </span> пікантно та ситно: страви WOK</h2>
      <h3 class="product-accordion__title">Пікантний та ситний азійський WOK</h3>
      <div class="product__text text">
        <p>Якби існував рейтинг найсмачніших страв азійської кухні, то їжа WOK увійшла б в трійку лідерів. 
          Локшина або рис, морепродукти, тофу, овочі, й усе це — зі злегка пікантним соусом. 
          Встояти перед такою смакотою просто неможливо! Тому не зволікайте: обирайте страви ВОК в меню NOA. 
          А наші шеф-кухарі приготують їх спеціально для вас.
        </p>
      <div class="product__read-more" (click)="toggleAccordion()">читати більше</div>
      <div  class="product__accordion" [ngClass]="{'product-accordion-activ': accordionClick}">
        <h3 class="product-accordion__title">Не лише локшина. Що таке страви WOK?</h3>
        <p>Найчастіше ми звикли чути термін “локшина WOK”. Але ВОК — це не лише локшина. 
          Це просто спосіб приготування страв азійської кухні, який отримав назву від назви посуду. 
          За своїми особливостями, сковорідка WOK, в якій готують локшину, рис та інші страви, конусоподібна або округла. 
          Вона дозволяє готувати їжу на високій температурі та з задіюванням пари. 
          Таким чином, страва отримує свій особливий смак.</p>
          <p>Традиційна китайська сковорідка вок не мала плоского дна. Через округлу форму, поставити такий посуд на плоску поверхню було неможливо. 
            В ті часи, сковорідками вок користуватися тільки на вугільній печі зі спеціальним отвором для пательні. 
            Загалом, страви вок в азійських країнах готують вже понад 2 тисячі років. А тепер, така їжа стала популярною по всьому світу. 
            По-перше, через величезну кількість варіацій та рецептів. 
            А по-друге — через неповторний смак, перед яким неможливо встояти.</p>
            <h3 class="product-accordion__title">WOK в меню NOA: що обрати?</h3>
            <p>Наші шеф-кухарі розробили величезне меню страв ВОК. Ми дбаємо про те, щоб кожен наш гість міг замовити їжу, яка йому до душі. 
              Тож ви можете обрати WOK найрізноманітніших видів та варіацій:</p>
            
        <div class="product-accordion__text text">
            <ul class="product-accordion__list">
              <li>На основі рису — рис з яловичиною та кокосовим карі; тяхан ясай; тяхан з куркою та тигровою креветкою.
              </li>
              <li>З локшиною — падтай з куркою, тай з куркою темпеура, які хамаши, удон з куркою кунг пао та багато іншого.
              </li>
              <li>Курку, приготована на пательні WOK за оновленою рецептурою. З кисло-солодким соусом, цибулею, часником, імбирем та арахісом.
              </li>
           </ul>
            <p>Кожна страва має збалансований смак, адже над створенням її рецепту працювали наші найкращі шеф-кухарі. 
              А ще — ми дбаємо про те, щоб кожна страва була не лише смачною, але й корисною.</p>
              <p>Для вашої зручності, ми розробили комфортні фільтри в меню — до прикладу, ви можете відсортувати вегетаріанські страви всього одним кліком (натиснувши VEGGIE), 
                або аналогічним чином обрати лише нові страви — клікнувши NEW.</p>
            <h3 class="product-accordion__title">Доставка WOK, в яку ви закохаєтесь</h3>
            <p>Як щодо пікантного WOK на обід? Або, можливо, на вечерю? Вам залишилося лише обрати їжу. 
              Наші шеф-кухарі приготують її спеціально для вас: подбають, щоб страва була найсмачнішою.
              А кур'єри швиденько доставлять її за вашою адресою.</p>
              <p>Все працює так:</p>
            <ul class="product-accordion__list">
              <li>Оплата — на сайті через систему LiqPay або карткою/готівкою при отриманні. Обирайте той спосіб, який буде для вас зручним.
              </li>
              <li>Готуємо страви для вас з 10 ранку до 21 вечора. Кожного дня, без вихідних. 
                Тому тепер ви можете насолоджуватися улюбленою їжею і в будні, і у свята.
              </li>
              <li>Доставка безкоштовна від 300 грн. Платіть лише за позиції з меню.
              </li>
            </ul>
            <p>Чекаємо на ваші замовлення, та з радістю приготуємо для вас найсмачніші страви азійської кухні. 
              Професійно, швидко та з любов'ю.
              Let’s WOK разом з рестораном азійської кухні NOA!</p>
              <div class="product__read-more red" (click)="toggleAccordion()">згорнути</div>
          </div>
  
      </div>
  
    </div>
      </div>
      <div class="categories__description" *ngIf="categoryName === 'asian-poke'">
       <h2 class="product__title2 title-page"><span>Азійські </span> поке-боули в серці Львова</h2>
       <h3 class="product-accordion__title">Азійський боул це</h3>
       <div class="product__text text">
       <p>Хочете скуштувати щось одночасно смачне, незвичайне й корисне? 
        А, можливо, знайти не менш цікаву альтернативу суші та WOK? Шеф-кухарі NOA знають, чим вас здивувати. 
        У нашому меню є поке-боули — мікс найсмачніших інгредієнтів, який подарує справжній вибух смаку. 
        Яскраві, свіжі, соковиті…все це можна сказати про наші боули! 
        Тож обирайте страву до смаку, додавайте її у кошик та забирайте прямісінько на порозі вашої квартири!
      </p>
    <div class="product__read-more" (click)="toggleAccordion()">читати більше</div>
    <div  class="product__accordion" [ngClass]="{'product-accordion-activ': accordionClick}">
      <h3 class="product-accordion__title">Що таке поке та як його готують?</h3>
      <p>Поке-боул — страва, яка поєднує в одній тарілці легку основу та більш ситні компоненти (лосось, тунець або курку). У якості гарніру використовуються, зазвичай:.</p>
     <div class="product-accordion__text text">
          <ul class="product-accordion__list">
            <li>салатний мікс </li>
            <li>рис</li>
            <li>кіноа</li>
            <li>суміш кіноа та рису.</li>
         </ul>
          <p>Додатковими компонентами боулу можуть бути різноманітні горіхи, авокадо, манго, сир, тофу, помідори чері, огірок, 
            капуста, начос та багато іншого. 
            Варіюється і гострота страви: поке-боул може бути як злегка пікантним, так і дуже гострим.</p>
            <p>Розповімо трошки про те, яким було традиційне поке. Його рецепт дещо відрізнявся від поке сучасних. Адже основою страви була сира риба, нарізана шматочками, яка поєднувалась з легким гарніром. 
              Зараз же існує значно більше варіацій такої страви, а сира риба використовується вкрай рідко..</p>
          <h3 class="product-accordion__title">Що таке боул поке та як його готують?</h3>
          <p>Ми дбаємо про те, щоб кожна наша страва була ідеальною. Використовуємо лише свіжі овочі, 
            якісні продукти та добірні компоненти від перевірених постачальників. 
            Смачно, збалансовано, корисно — це все про боули, які готують шеф-кухарі NOA.</p>
            <p>Радимо скуштувати наші бестселери та новинки:</p>
          <ul class="product-accordion__list">
            <li>Поке Вайкікі — з курячим стегном, овочами, манго, шпинатом та соусом світ чілі.
            </li>
            <li>Токіо Класік з лососем та суші сиром.
            </li>
          </ul>
          <p>…а також ще багато цікавого! Адже асортимент боулів з доставкою у Львові вас приємно здивує.
            Ми постійно працюємо над вдосконаленням меню, щоб ви могли пробувати нові страви та експериментувати, 
            тішити себе та свою родину смачненьким, не витрачаючи час біля плити.</p>
            <h3 class="product-accordion__title">Доставка боулів з NOA — швидко, смачно, саме для вас</h3>
          <p>Для обіду, вечері, перекусу на роботі чи вечірки з друзями — поке завжди чудовий вибір. 
            Приготуємо та доставимо смачну страву спеціально для вас. Вам залишилося лише обрати, 
            який саме боул хочете скуштувати сьогодні, додати його в корзину 
            та вказати свої контактні дані, щоб ми могли підтвердити замовлення телефоном</p>
            <p>Вибирати страви в меню NOA — дуже зручно. Адже кожна позиція проілюстрована фотографією, а всі інгредієнти — прописані. 
              Також ми обов'язково вказуємо рівень гостроти поке</p>
              <p>Наша доставка боулів у Львові — це:</p>
              <ul class="product-accordion__list">
                <li>Швидко — привеземо їжу за 45 хвилин у зеленій зоні, 55 — у жовтій, та 65 — у червоній. 
                  Наші кур'єри оминають всі затори у місті, щоб ви могли якомога швидше насолоджуватися своїм поке.
                </li>
                <li>Безкоштовно — діє безкоштовна доставка замовлень на суму понад 300 гривень (зелена зона), та 350 (жовта зона).
                </li>
                <li>Без вихідних — працюємо щодня, з 10:00 до 21:00. Щоб ви могли насолоджуватися улюбленими стравами азійської кухні і у будні, і у свята.
                </li>
                <li>З турботою про вас — ви легко можете замінити складники у страві чи вказати свої побажання щодо рівня її гостроти.
                </li>
              </ul>
              <p>Ми приймаємо різні способи оплати. Ви можете розрахуватися за своє замовлення готівкою та карткою (при отриманні), 
                або через систему LiqPay на етапі оформлення доставки.</p>
              <p>Чекаємо на ваші замовлення та бажаємо смачного!</p>
            <div class="product__read-more red" (click)="toggleAccordion()">згорнути</div>
        </div>

    </div>

  </div>
      </div>
      <div class="categories__description" *ngIf="categoryName === 'sushi-burgery'">
        <h2 class="product__title2 title-page"><span>Оціни </span> смачну новинку: суші-бургери від шефів NOA</h2>
        <h3 class="product-accordion__title">Cуші-бургери у Львові</h3>
        <div class="product__text text">
        <p>Вважаєте, що куштували геть усі страви азійської кухні? Настав час замовити суші-бургер! 
          Це — смачний симбіоз двох кулінарних світів, який нікого не залишить байдужим. 
          Не дивлячись на те, що така страва — доволі нова, вона вже стала популярною серед справжніх гурманів. 
          З лососем чи тунцем, авокадо чи суші-сиром — азійські бургери смакують справді чудово. 
          Тому не зволікайте: обирайте свій улюблений суші-бургер в меню ресторану NOA!
       </p>
     <div class="product__read-more" (click)="toggleAccordion()">читати більше</div>
     <div  class="product__accordion" [ngClass]="{'product-accordion-activ': accordionClick}">
       <h3 class="product-accordion__title">Що таке суші бургер?</h3>
       <p>Це — вдале поєднання бургера та суші. Замість булочки тут використовуються водорості норі й рис.
         А начинка — це не котлета й зелень, а смачні, свіжі та ситні морепродукти, риба, овочі. 
         Така страва народилась шляхом експериментів, й зараз вже стає шалено популярною. Саме її варто замовити, 
        якщо ви вже трохи втомилися від класичних ролів, суші-сетів та вок, й хочете спробувати щось новеньке.</p>
        <p>Для того, щоб зберегти смак кожного складника під час приготування, компоненти до суші-бургера додаються поступово, 
          а потім готовий бургер обсмажується до хрусткої скоринки. 
          Страва — ароматна, доволі ситна та неймовірно смачна.</p>
          <h3 class="product-accordion__title">Меню суші-бургерів для справжніх гурманів</h3>
          <p>Ми старанно працювали над створенням нашої новинки. Суші-бургери готуємо лише зі свіжих, добірних компонентів — морепродуктів, 
            овочів та спецій. Дбаємо про ретельну обробку та правильне зберігання кожного складника. 
            Для того, щоб кожна страва була справді ідеальною.</p>
            <p>Готуючи суші бургери, шефи НОА використовують ваші улюблені складники:</p>
      <div class="product-accordion__text text">
           <ul class="product-accordion__list">
             <li>добірний рис; </li>
             <li>свіжі морепродукти;</li>
             <li>рибу — лосось та тунець;</li>
             <li>овочі та зелень</li>
          </ul>
           <p>Кожна страва — смачна та ситна. А ще — чудово підходить не лише для обіду й вечері, а й для свят, сімейних застіль та домашніх вечірок. 
            Доставляємо суші-бургери в термосумці: це допомагає нам зберегти свіжість та смак страви. Ви можете бути впевнені, 
            що отримаєте своє замовлення буквально з-під ножа: ми не готуємо страви наперед. 
            Щасливий та ситий клієнт — найвища нагорода для нас!</p>
            <h3 class="product-accordion__title">Які суші-бургери ми рекомендуємо спробувати?</h3>
            <p>Всі, які є в нашому меню. Обов'язково замовте:</p>
           <ol class="product-accordion__list1">
             <li>Туна — суші-бургер з рисом, тунцем, водоростями норі, соусом унагі, ікрою корюшки, гострим майо, 
              сушеною цибулею, начосами, суші-сиром, водоростями хіяші вакаме, соусом том ям та спеціями фурікаке. 
              Збалансований, багатий смак нікого не залишить байдужим.
             </li>
             <li>Салмон суші-бургер — основою страви також є рис, але замість тунця тут ми додали лосось. 
              Смак основних компонентів підкреслюють: суші-сир, дайкон, лососева ікра, 
              соус унагі, норі, огірок, панко, начоси та гострий майо. Встояти неможливо!
             </li>
           </ol>
           <p>Шеф-кухарі ресторану NOA невпинно працюють над створенням нових рецептів. Прагнемо тішити вас новинками, 
            щоб замовляти страви з нашого закладу ніколи не набридало!</p>
             <h3 class="product-accordion__title">Cуші-бургери з доставкою у Львові: смачно та швидко</h3>
           <p>Ми дбаємо про те, щоб насолоджуватися азійською кухнею ви могли не виходячи із дому. Наша доставка суші-бургерів працює щодня, 
            без вихідних. Ми починаємо готувати ваші страви одразу після отримання замовлення. 
            А кур'єри — знають найшвидші маршрути містом, щоб привезти їжу вчасно.</p>
             <p>Щоб замовити суші-бургер у Львові з ресторану NOA, просто додайте страву в корзину, 
              заповніть форму та дочекайтеся дзвінка-підтвердження! Ми забезпечимо:</p>
               <ul class="product-accordion__list">
                 <li>Свіжість, якість та смак кожної страви.
                 </li>
                 <li>Доставку містом всього за 40-60 хвилин.
                 </li>
                 <li>Вигідні ціни та зручні способи оплати.
                 </li>
               </ul>
               <p>Готуємо якісно, доставляємо швидко, дбаємо про те, щоб ви були ситими та задоволеними. Обирайте й насолоджуйтеся!</p>
             <div class="product__read-more red" (click)="toggleAccordion()">згорнути</div>
         </div>
 
     </div>
 
   </div>
       </div>
       <div class="categories__description" *ngIf="categoryName === 'rolls'">
        <h2 class="product__title2 title-page"><span>Замовляй </span> суші в NOA вже зараз!</h2>
        <h3 class="product-accordion__title">Доставка суші з NOA Львів: смакуйте ідеальні роли щодня</h3>
        <div class="product__text text">
        <p>Якби існував рейтинг найпопулярніших страв з доставкою, то суші займали б у ньому перше місце. Авокадо рол, Катана, 
          Токійський дракон — перед таким розмаїттям неможливо встояти. А ще, роли — дуже універсальна їжа.
           Їх можна замовити на обід та вечерю, на святковий стіл чи побачення — така страва завжди доречна.
       </p>
       <p>Шеф-кухарі NOA вже готові приготувати ідеальні роли для вас — свіжі, щойно з-під ножа. 
        Тож ознайомтеся з нашим меню, та замовляйте страви, 
        які будуть до душі саме вам.</p>
     <div class="product__read-more" (click)="toggleAccordion()">читати більше</div>
     <div  class="product__accordion" [ngClass]="{'product-accordion-activ': accordionClick}">
       <h3 class="product-accordion__title">Смачні суші: у чому секрет?</h3>
       <p>Секрет смаку наших ролів — це поєднання майстерності сушистів NOA та використання добірних компонентів. 
        Готуємо суші зі свіжих морепродуктів, овочів та норі, які купуємо в надійних постачальників.
        Постійно вивчаємо нові рецепти та відточують власну майстерність. 
        Щоб кожен наш клієнт міг насолоджуватися неповторним смаком улюбленої страви.</p>
        <p>Рекомендуємо спробувати наш ТОП-5 серед ролів:</p>
        <h3 class="product-accordion__title">Меню суші-бургерів для справжніх гурманів</h3>
      <div class="product-accordion__text text">
           <ol class="product-accordion__list1">
             <li>Рол Катана — з маринованим лососем, коктейльною креветкою, суші сиром та маринованим дайконом.</li>
             <li>Гарячий рол Хот Ебі — з вугрем, креветкою темпура, суші-сиром, грибом шиїтаке, цибулевими чіпсами та соусом тай.</li>
             <li>Рол Мідорі — з лососем, авокадо, крем-сиром, грибами шиітаке, норі, огірком, ікрою тобіко, гостро-солодким соусом.</li>
          </ol>
           <p>Ще одна важлива перевага наших ролів полягає в тому, що ми ніколи не готуємо суші наперед.
             Кожне замовлення їде до клієнта “з-під ножа”. Тому що наші сушисти розпочинають готувати роли безпосередньо після того,
             як отримують ваше замовлення. Одразу після приготування, ми ретельно пакуємо суші. 
             Щоб вони були доставлені до вас зі збереженням зовнішнього вигляду.
             Потіште себе та своїх гостей ефектною подачею суші!</p>
            <h3 class="product-accordion__title">Як замовити суші в NOA?</h3>
            <p>Якщо ви бажаєте скуштувати найсмачніші роли у Львові, ви потрапили за адресою. 
              Просто оберіть, які суші хочете з'їсти сьогодні, та додайте їх у кошик. 
              А ми приготуємо страву спеціально для вас, та доставимо прямісінько до дверей вашої квартири. 
              Наші кур'єри доставляють наше замовлення у термосумці, 
              тим самим зберігаючи комфортну температуру страви та підтримуючи її свіжість.</p>
              <p>Доставка суші з NOA — це:</p>
             <ul class="product-accordion__list">
             <li>Смачно — наші шеф-кухарі знають всі секрети приготування ролів, тому гарантують, що страви вам точно сподобаються. 
              Унікальне поєднання смаків, 
              а також завжди ретельний підхід до приготування — переваги, які ми забезпечуємо завжди.
             </li>
             <li>Швидко — доставимо ваше замовлення всього за 45-65 хвилин. Наші кур'єри не заставлять вас довго чекати, адже знають, 
              як побудувати найефективніший маршрут з урахуванням всіх міських заторів.
             </li>
             <li>Безкоштовно у випадку, якщо сума вашого замовлення перевищує 300 гривень.
              Ви платите лише за позиції з меню, доставка відбувається нашим коштом.</li>
              <li>Без вихідних — готуємо суші для вас щодня, з 10:00 до 21:00. Куштуйте улюблені роли і в будні, і у свята — тоді, 
                коли самі цього забажаєте.</li>
                <li>Зручно — оплатити замовлення можна різними способами. Готівкою та карткою (кур'єру при отриманні), або через систему LiqPay безпосередньо на сайті. 
                  Обирайте той спосіб, який буде для вас більш зручним.</li>
           </ul>
           <p>Тож замовляйте: із задоволенням приготуємо смачні суші саме для вас, здивуємо вас смачною та свіжою стравою. 
            А ще — чекаємо на вас у ресторанах NOA. Завітайте в гості!</p>
            <div class="product__read-more red" (click)="toggleAccordion()">згорнути</div>
         </div>
 
     </div>
 
   </div>
       </div>
       <div class="categories__description" *ngIf="categoryName === 'sushiset'">
        <h2 class="product__title2 title-page"><span>Для </span> домашньої вечірки та не тільки: доставка суші сетів з NOA</h2>
        <h3 class="product-accordion__title">Cуші сети з доставкою з NOA</h3>
        <div class="product__text text">
        <p>Сирний, з вугрем, Катана, Акойо…як важко обрати роли! Адже кожен із них — по-своєму смачний. 
          Тож якщо ви досі вагаєтесь, найкраща ідея — це замовити суші сет. Величезний набір наших найкращих ролів для вас та ваших друзів.
          Ми наповнюємо наші роли різними 
          інградієнтами вугор, авокадо, сніжний краб, сир, норі, огірок, вершковий сир, лосось, тунець.
       </p>
       <p>Суші сети з NOA — це:</p>
       <ul class="product-accordion__list">
        <li><b>Різноманітно</b> — у нашому меню є декілька варіантів комбо-наборів. Тож ви легко зможете обрати найкращий за складниками та вагою, 
          в нашому меню ви можете знайти великий спектр різних ролів, 
          а саме каліфорнія з лососем, рол філадельфія з копченим лососем, філадельфія з тунцем.
        </li>
        <li><b>Смачно</b> — лише традиційні рецепти та добірні компоненти. 
          Дбаємо про те, щоб кожен рол був ідеальним — як за смаком, так і за зовнішнім виглядом.
        </li>
        <li><b>Вигідно</b> — у подарунок до кожного сету ви отримуєте пепсі. А ще — замовляти в наборі значно дешевше, ніж кожен рол окремо.
        </ul>
        <p>Щоб наше меню суші сетів вам не набридало, регулярно оновлюємо його новими позиціями. 
          Просто натисніть кнопку NEW, щоб побачити всі наші новинки у цьому розділі.</p>
          <h3 class="product-accordion__title">Як ми готуємо суші сети для вас?</h3>
     <div class="product__read-more" (click)="toggleAccordion()">читати більше</div>
     <div  class="product__accordion" [ngClass]="{'product-accordion-activ': accordionClick}">
       <p>Секрет смаку ролів NOA — це добірні компоненти. Свіжий сир, морепродукти, овочі, норі — усе це ми купуємо в перевірених постачальників 
        та зберігаємо, дотримуючись ключових вимог. Наші шеф-кухарі знають особливі секрети приготування суші. 
        Вони постійно вивчають нові рецепти та відточують власну майстерність, щоб дивувати вас найсмачнішими стравами.</p>
        <p>У нашому меню на вас чекають класичні суші та роли, майстерно розроблені нашою командою. Ми готуємо з класичних складників та нових, 
          незвичайних інгредієнтів, які подарують справжній вибух смаку фанатам суші.</p>
        <p>Та головне — ми не готуємо суші наперед. Ви отримуєте роли “з-під ножа”: щойно ми отримуємо замовлення, починаємо готувати їх для вас. 
          Жодних заморожених заготовок чи страв з учора. Приготовані роли ми дбайливо пакуємо, 
          щоб вони приїхали до вас не лише смачними, а й естетичними: кожен сет пасуватиме до святкового столу.</p>
        <p>Швидка доставка — ще один пункт, про який ми обов'язково дбаємо. Адже знаємо, що роли найкраще зберігають смак та аромат в перші 
          години після приготування. Кур'єри доставляють суші сети у Львові в спеціальних термосумках, а також везуть замовлення дуже обережно: 
          щоб ви могли насолоджуватися неповторним смаком та ефектною подачею.</p>
          <h3 class="product-accordion__title">Доставка суші сетів з NOA — роли, в які ви закохаєтеся</h3>
        <p>Наші шеф-кухарі знають, як готувати найсмачніші роли. Тому якщо ви плануєте вечірку вдома, романтичну вечерю або обід з родиною, 
          замовити суші у Львові з ресторану NOA — вдала ідея. Обирайте, який саме набір ролів ви хочете скуштувати сьогодні. 
          А ми приготуємо його для вас та доставимо прямісінько до порогу квартири.</p>
        <p>Наша доставка суші сетів — це:</p>
      <div class="product-accordion__text text">
           <ol class="product-accordion__list1">
             <li>Зручно — кожна позиція меню проілюстрована фотографією, а також має детальний опис складників. 
              Ми обов'язково вказуємо вагу сету та всі роли, які до нього входять.</li>
             <li>Швидко — залежно від зони, привеземо ваше замовлення за 45-65 хвилин. Наші кур'єри знають, як оминати всі затори в годину-пік.</li>
             <li>Ви можете безкоштовно замовити суші сет, якщо сума замовлення перевищує 300 гривень.</li>
             <li>Без вихідних — ми працюємо щодня, з 10:00 до 21:00. Завдяки цьому ви зможете насолоджуватися улюбленими ролами і в будні, і у свята.</li>
             <li>З турботою про кожного — якщо ви бажаєте замінити складники чи рівень гостроти страви, просто повідомте нам про це під час оформлення замовлення.</li>
          </ol>
           <p>Ми приймаємо різні способи оплати: готівкою та карткою (кур'єру при отриманні), або через систему LiqPay безпосередньо на сайті. 
            Бажаємо смачного!</p>
            <div class="product__read-more red" (click)="toggleAccordion()">згорнути</div>
         </div>
 
     </div>
 
   </div>
       </div>
       <div class="categories__description" *ngIf="categoryName === 'deserty'">
        <h2 class="product__title2 title-page"><span>Коли </span> хочеться смачненького: доставка десертів з NOA</h2>
        <h3 class="product-accordion__title">Спробуйте справжні азійські десерти у Львові</h3>
        <div class="product__text text">
        <p>Ніжний крем, шоколад, який просто тане в роті, фрукти та ягідна поливка — саме слово “десерт” асоціюється з чимось дуже приємним. 
          Почувши його, одразу поринаєш в дитинство: часи, коли маленький шматочок чізкейка викликав справжнісіньке захоплення. 
          Тепер, у шаленому ритмі буднів, ми часто забуваємо тішити себе смачненьким. 
          А ще — вважаємо, що від солодощів варто повністю відмовитися, бо вони шкодять нашій фігурі. 
          Та не варто бути таким суворим до себе. Нехай основу раціону складають “правильні” продукти. 
          Але ми впевнені: у ньому варто іноді залишати місце для улюбленого десерту. Чудовий настрій гарантовано!
       </p>
       <p>Шеф-кухарі NOA створили для вас ідеальні десерти. До прикладу, спробувавши наш баскський чізкейк, ви захочете замовляти його ще і ще. 
        Чому? Зараз ми про це розкажемо!</p>
           <div class="product__read-more" (click)="toggleAccordion()">читати більше</div>
     <div  class="product__accordion" [ngClass]="{'product-accordion-activ': accordionClick}">
      <h3 class="product-accordion__title">Секрети приготування ідеального десерту</h3>
       <p>Основа будь-якої страви — це якісні, ретельно підібрані компоненти. І десерт тут не став винятком. 
        Ми працюємо лише з надійними постачальниками продукції. Саме тому, для приготування десертів використовуємо лише добірне 
        борошно вищого гатунку, смачний та свіжий сир, якісний шоколад. 
        Кожен компонент ми зберігаємо, чітко дотримуючись усіх вимог.</p>
        <p>Найулюбленіший десерт гостей NOA — це, звичайно ж, чізкейк. Щоб він був смачним та повітряним, ми використовуємо професійні секрети:</p>
      <div class="product-accordion__text text">
           <ul class="product-accordion__list">
             <li>Використовуємо правильний сир — “Філадельфію” або крем-сир. Він має легку, нежирну текстуру. 
              Саме тому, готовий десерт просто тане у роті.</li>
             <li>Всі інгредієнти, з яких готується чізкейк, мають бути кімнатної температури. Тому ми дістаємо їх із холодильника за певний час до початку приготування.</li>
             <li>Збиваємо інгредієнти міксером (на низькій швидкості) або вручну. 
              Таким чином, компоненти змішуються акуратно, а готовий десерт не буде тріскати при випіканні.</li>
             <li>Ми ретельно слідкуємо за температурним режимом в духовій шафі під час випікання чізкейка. 
              Оптимальна температура приготування для такого десерту складає 160°C – 180°C. 
              В іншому випадку, чізкейк може тріснути та мати зовсім непривабливий вигляд.</li>
             <li>Після випікання, чізкейку потрібно дати повільно остигнути: різкі перепади температур впливають на нього погано. 
              Саме тому, ми спочатку залишаємо його на 30 хвилин у вимкнутій духовці, 
              а потім — даємо остигнути при кімнатній температурі та в холодильнику. Ось і все — ідеальний чізкейк готовий.</li>
          </ul>
           <p>Та головний секрет смаку наших десертів — це, звісно ж, турбота. Ми любимо кожного нашого клієнта.
             І хочемо по-справжньому тішити вас смачними стравами. Адже знаємо, як важливо в шаленому ритмі сучасного життя залишати місце 
             для чогось приємного. 
            Наприклад, для улюбленого десерту з чашечкою чаю після важкого, напруженого робочого дня.</p>
            <h3 class="product-accordion__title">Десерти з доставкою прямісінько до вашої домівки</h3>
            <p>Замовляти піцу або суші — це так звично. Але ми впевнені, що доставка десертів у Львові теж потрібна. 
              Хто ж відмовиться від смачного чізкейку до ранкової кави! Тому обирайте десерт просто зараз.
               Ми приготуємо його для вас з турботою та любов'ю. 
              А ще — швиденько доставимо у будь-який район Львова</p>
              <p>Замовляючи десерти в NOA, окрім чудового смаку страв, ви отримуєте безліч переваг:</p>
            <ol class="product-accordion__list1">
              <li><b>Зручний вибір,</b> адже кожна позиція меню проілюстрована фото та містить детальний опис інгредієнтів.
              </li>
              <li><b>Швидку доставку</b> — всього за 45-65 хвилин у будь-який район міста.
              </li>
              <li><b>Зручні способи оплати</b> — готівкою та карткою (кур'єру при отриманні), або через систему LiqPay безпосередньо на сайті.
              </li>
            </ol>
            <p>Замовлення на суму понад 300 гривень ми доставляємо безкоштовно. Працюємо для вас щодня, з 10:00 до 21:00. Чекаємо на ваші замовлення!</p>
            <div class="product__read-more red" (click)="toggleAccordion()">згорнути</div>
         </div>
 
     </div>
 
   </div>
       </div>





   </div>
 </div>
</section>

